@import url("https://fonts.googleapis.com/css?family=Jim+Nightshade");
@import url("https://fonts.googleapis.com/css?family=Assistant:300");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  font-family: "Jim Nightshade", script;
  font-size: 13vmin;
  line-height: 1.2;
  hanging-punctuation: first;
}

button {
  font-family: "Assistant", sans-serif;
  display: block;
  padding: 0.5rem;
  outline: none;
  font-size: 0.8rem;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
