@import url("https://fonts.googleapis.com/css?family=Jim+Nightshade");
@import url("https://fonts.googleapis.com/css?family=Assistant:300");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}
#quote-container {
  font-family: "Jim Nightshade", script;
  font-size: 20px;
  line-height: 2rem;
  background-color: pink;
  border-radius: 20px;
  padding: 4rem 1.5rem;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

button {
  font-family: "Assistant", sans-serif;
  display: block;
  padding: 0.5rem;
  outline: none;
  font-size: 0.8rem;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

h2 {
  font-size: 30px;
  margin-bottom: 2rem;
}

#quote-text {
  padding: 1rem 0;
  font-weight: 300;
}
